.container{
  position: relative;
}

.bar-loader{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.container .header{
    text-align: center;
    margin: 1rem;
    color: rgb(30, 200, 30);
    animation: bounceAnimation 1s infinite;
  }
  

.cards-container{
    max-width: fit-content;
    margin: 1rem auto; 
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}



.hidden{
  position: absolute;
  top: 24rem;
  left: 50%;
  width: 50rem;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg,#2c5364,#203a43,#0f2027);
  padding: 2rem;
  border-radius: 7px;
}


.bars {
  width: 4rem;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#fff 0 0);
  background: 
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: b1 1s infinite linear;
}


/* Letter Bounce */
@keyframes bounceAnimation {
    0%, 20%, 100% {
      transform: translateY(-10px);
    }
    40% {
      transform: translateY(0px); 
    }
  }


  /* bars Animation */
  @keyframes b1 {
    0%  {background-size: 20% 100%,20% 100%,20% 100%}
    33% {background-size: 20% 10% ,20% 100%,20% 100%}
    50% {background-size: 20% 100%,20% 10% ,20% 100%}
    66% {background-size: 20% 100%,20% 100%,20% 10% }
    100%{background-size: 20% 100%,20% 100%,20% 100%}
  }



@media screen and (max-width:1024px) {
    .cards-container{
        grid-template-columns: 1fr 1fr;
    }
    .hidden{
      top: 18rem;
      width: 50%;
    }
}

@media screen and (max-width:768px) {
    .cards-container{
        grid-template-columns: repeat(4,1fr);
    }
    .hidden{
      top: 28rem;
      width: 100%;
      padding: 1.5rem;
      border-radius: 0;
    }
}



